In [1]:
#number of times an experiment should be repeated for a 95% probability

import numpy as np
import pandas as pd
import random
import math

In [2]:
N = 10
P = 0.95
n = math.ceil(math.log(1 - P) / math.log(1 - 1/N))
print(f" {n} times")

 29 times

In [3]:
data=pd.read_csv('Book1.csv',delimiter='')
df=pd.DataFrame(data)
df

   G1  G2  G3  G4  G5  G6  G7  G8  G9 G10
0  AS  BS  CS  DS  ES  GH  FD  GH  HY  LO
1  AD  BD  CD  DD  ED  GJ  FF  GT  HU  LI
2  AF  BF  CF  DF  EF  GK  FG  GY  HI  LU
3  AH  BH  CH  DH  EH  GL  FH  GU  HO  LY
4  AJ  BJ  CJ  DJ  EJ  GO  FJ  GI  HJ  LY
5  AK  BK  CK  DK  EK  GY  FK  GO  HK  LK

In [4]:
df.loc[len(df)] = [0,0,0,0,0,0,0,0,0,0]

In [5]:
df

   G1  G2  G3  G4  G5  G6  G7  G8  G9 G10
0  AS  BS  CS  DS  ES  GH  FD  GH  HY  LO
1  AD  BD  CD  DD  ED  GJ  FF  GT  HU  LI
2  AF  BF  CF  DF  EF  GK  FG  GY  HI  LU
3  AH  BH  CH  DH  EH  GL  FH  GU  HO  LY
4  AJ  BJ  CJ  DJ  EJ  GO  FJ  GI  HJ  LY
5  AK  BK  CK  DK  EK  GY  FK  GO  HK  LK
6   0   0   0   0   0   0   0   0   0   0

In [6]:
i=0
while i < 30: 
    randnum=random.randrange(1, 11)
    df.iat[6, randnum-1]=df.iat[6, randnum-1]+1
#seq=list(df.iloc[:, randnum-1])
    i += 1

In [7]:
df

   G1  G2  G3  G4  G5  G6  G7  G8  G9 G10
0  AS  BS  CS  DS  ES  GH  FD  GH  HY  LO
1  AD  BD  CD  DD  ED  GJ  FF  GT  HU  LI
2  AF  BF  CF  DF  EF  GK  FG  GY  HI  LU
3  AH  BH  CH  DH  EH  GL  FH  GU  HO  LY
4  AJ  BJ  CJ  DJ  EJ  GO  FJ  GI  HJ  LY
5  AK  BK  CK  DK  EK  GY  FK  GO  HK  LK
6   3   1   3   4   3   2   3   3   6   2